/* The Modal (background) */

body.shopglut-admin {
  overflow-x: hidden;
}

.shopg_layout_modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999999; /* Sit on top */
  padding-top: 10px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.shopg_layout_modal .modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 98%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.shopg_layout_modal .modal-header h2 {
  color: #fff;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -10px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -10px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.shopg_layout_modal .shop-layouts-compare-modal-close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: 12px;
}

.shopg_layout_modal .shop-layouts-compare-modal-close:hover,
.shopg_layout_modal .shop-layouts-compare-modal-close:focus {
  color: #aaaaaa;
  text-decoration: none;
  cursor: pointer;
}

.shopg_layout_modal .modal-header {
  padding: 2px 16px;
  background-color: #2365a5;
  color: white;
}

.shopg_layout_modal .modal-body {
  padding: 2px 16px;
}

.shopg_layout_modal .modal-footer {
  padding: 5px 16px;
  background-color: #2365a5;
  color: white;
}

.shopglut-admin #screen-meta-links {
  display: none;
}

.shopglut-admin .notice.notice-warning.update-nag {
  display: none;
}

.shopglut-admin .updated,
.shopglut-admin .success,
.shopglut-admin .notice {
  display: none !important;
}

/* styles.css */
#shopg-layout-admin-settings {
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.897);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99; /* Ensure this is above other content */
  transition: opacity 0.5s ease;
}

.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px; /* Adjust the width according to your icon size */
  height: 100px; /* Adjust the height according to your icon size */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.loader-image {
  width: 80%; /* Adjust the size of your icon image */
  height: 80%;
  position: absolute;
  z-index: 1;
  animation: breathe 1.7s ease-in-out infinite;
}

.loader-dash-circle {
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border: 3px dashed #0668c4; /* Adjust the border color and thickness */
  border-radius: 50%;
  animation: rotate 6.4s linear infinite;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.shopg-inside-loader {
  display: none;
}
.shopg-inside-loader-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.897);
  transition: opacity 0.5s ease;
}

.shopg-inside-loader-container {
  position: relative; /* This ensures child elements are positioned correctly */
  width: 100px; /* Adjust the width according to your icon size */
  height: 100px; /* Adjust the height according to your icon size */
  display: flex;
  align-items: center;
  justify-content: center;
}

.shopg-inside-loader-image {
  width: 80%; /* Adjust the size of your icon image */
  height: 80%;
  animation: breathe 1.7s ease-in-out infinite;
  z-index: 1; /* Ensure the image is above the dash circle */
}

.shopg-inside-loader-dash-circle {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px dashed #0668c4; /* Adjust the border color and thickness */
  border-radius: 50%;
  animation: rotate 6.4s linear infinite;
  z-index: 0; /* Ensure the dash circle is below the image */
}

#shopg-shoplayout-container #no-product-found {
  padding-left: 10px;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes breathe {
  0%,
  100% {
    transform: scale(0.98);
  }
  50% {
    transform: scale(1.05);
  }
}

#shopg-showcase-loading {
  position: fixed;
  top: 0;
  left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background-color: #fff;
  z-index: 99;
  overflow: hidden;
  clear: both;
}

@keyframes rotate {
  /* Rotate the image from 0 to 360 degrees */
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#showcase-loading-image {
  z-index: 100;
  align-items: center;
  animation: rotate 10s linear infinite;
}
body.shopglut-admin-shopglut-shop-editor #adminmenuback,
body.shopglut-admin-shopglut-shop-editor #adminmenuwrap,
body.shopglut-admin-shopglut-shop-editor #wpadminbar,
body.shopglut-admin-shopglut-shop-editor #wpfooter {
  display: none;
}
body.shopglut-admin-shopglut-shop-editor #wpcontent {
  margin-left: 0px;
}
body.shopglut-admin-shopglut-showcase-editor #adminmenuback,
body.shopglut-admin-shopglut-showcase-editor #adminmenuwrap,
body.shopglut-admin-shopglut-showcase-editor #wpadminbar,
body.shopglut-admin-shopglut-showcase-editor #wpfooter {
  display: none;
}
body.shopglut-admin-shopglut-showcase-editor #wpbody-content {
  padding-bottom: 0px;
}
body.shopglut-admin-shopglut-showcase-editor #wpcontent {
  margin-left: 0px;
}
.shopglut-shoplayouts #post-body.columns-2 {
  margin-right: 10px !important;
}
#shopg-shoplayout-container {
  float: right;
  width: 74%;
  max-width: 2500px;
  position: relative;
}
#post-body.columns-2 #shopg-shoplayout-settings {
  float: left;
  width: 25%;
  max-width: 1200px;
}

#poststuff #post-body.columns-2 #shopg-shoplayout-settings #side-sortables {
  margin-right: 15px;
  width: initial !important;
}

#agwoo_options_settings.postbox {
  width: initial !important;
  min-width: initial !important;
}

.shopg-admin-edit-panel .notice {
  display: none;
}

/* product design */
.shopglut-product-settings-layout {
  display: flex;
}
/* Container for the entire product layout */
.shopglut-product-layout {
  display: flex;
  flex-wrap: wrap;
}

/* Style for each product layout container */
.product-layout {
  width: 48%; /* Adjust the width as needed, leaving some space for margins */
  margin: 1%; /* Adjust the margin as needed */
  box-sizing: border-box;
}

/* Style for each product design div */
.product-design {
  display: inline-block;
  border: 1px solid #ddd;
  box-sizing: border-box;
  margin-bottom: 20px;
  background-color: #fff;
  margin-bottom: 15px;
}

/* Style for product title */
.product-design .product-title {
  font-size: 16px;
  margin: 0px;
}

.product-design .product-category {
  font-size: 15px;
  margin: 0px;
}

/* Style for product image */
.product-image img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
}

/* Style for product info (price, description, etc.) */
.product-info {
  margin: 15px; /* Adjust as needed */
}

/* Style for product price */
.product-price {
  font-weight: bold;
  color: green;
}

/* Style for product description */
.product-description {
  margin-top: 10px;
  color: #555;
}

/* Style for product add to cart button */
.product-add-to-cart a {
  display: block;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

/* Hover effect for add to cart button */
.product-add-to-cart a:hover {
  background-color: #0056b3;
}

/* Style for create layout button */
.create-layout {
  text-align: center;
}

.create-layout input {
  background-color: #28a745;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Hover effect for create layout button */
.create-layout input:hover {
  background-color: #218838;
}

.wrap.shopglut-admin-contents {
  padding-left: 15px;
  padding-top: 8px;
}

.wrap.shopglut-admin-contents.shoplayouts-templates {
  text-align: center;
  padding-left: 0px;
  margin-left: 0px;
  margin-right: 15px;
}

.shoplayouts-templates h1 {
  font-weight: 600;
}

.shoplayouts-templates p {
  margin: 0;
  line-height: 0;
  padding-top: 13px;
  padding-bottom: 35px;
}

.shopg_templates_layouts.col-3 .template_design_layouts {
  grid-template-columns: repeat(3, 1fr);
}

.shopg_templates_layouts .template_design_layouts {
  display: grid;
}

.shopg_template_title {
  text-align: center;
}

.shopg_template_title h2 {
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.shopg_templates_layouts.choose-template {
  padding: 15px;
  padding-top: 0px;
  background: #fbfbfb;
  margin: 5px;
  margin-bottom: 25px;
  border: 2px solid #d0d0d0;
}

.shopg-create-layout {
  text-align: center;
}

.shopg-create-layout .btn.btn-green {
  background: #219e48;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

/*--- Page Header ---*/
.shopglut-admin .shopglut-page-header .shopglut-page-header-banner {
  background-color: #7340b0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  top: 0;
  width: 100%;
  padding: 15px;
  padding-bottom: 0px;
}

.shopglut-admin .shopglut-page-header .shopglut-page-header-wrap {
  margin-bottom: 10px;
}

.shopglut-admin .shopglut-page-header .shopglut-page-header-banner.shopglut-pro {
  padding: 15px 15px 0;
}

.shopglut-admin .shopglut-page-header .wrap {
  padding-left: 20px;
  margin: 0 20px 0 2px;
}

.wp-admin.shopglut-admin #wpcontent {
  padding: 0;
}

.shopglut-admin .shopglut-page-header .shopglut-page-header-banner__logo {
  padding: 0 0 15px;
  display: block;
}

.shopglut-admin .shopglut-page-header .shopglut-page-header-banner__logo img {
  width: 150px;
  height: auto;
  float: left;
  margin-top: 25px;
  padding-left: 15px;
}

.shopglut-admin .shopglut-page-header .shopglut-page-header-banner__helplinks {
  float: right;
  padding: 20px 20px 20px;
}

.shopglut-admin .shopglut-page-header .shopglut-page-header-banner__helplinks a {
  color: rgba(255, 255, 255, 0.92);
  text-decoration: none;
}

.shopglut-admin .shopglut-page-header .shopglut-page-header-banner__helplinks a.shopglut-active {
  background: #fff;
  padding: 5px;
  color: #0068b3;
  border-radius: 4px;
}

.shopglut-admin .shopglut-page-header .shopglut-page-header-banner__helplinks > span {
  padding-right: 15px;
}

.shopglut-admin div#screen-meta-links {
  position: absolute;
  right: 0;
  z-index: 9;
}

.shopglut-admin .shopglut-page-header .shopglut-nav-tab-wrapper {
  padding: 0;
  margin: 10px 16px 0;
  border-bottom: 0;
}

.shopglut-admin .shopglut-page-header .shopglut-nav-tab-wrapper .shopglut-nav-tab {
  display: block;
  font-weight: 500;
  padding: 5px 12px;
  padding-bottom: 10px;
  text-decoration: none;
  border: 1px solid transparent;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.92);
  margin: 0;
}

.shopglut-admin .shopglut-page-header .shopglut-nav-tab-wrapper .shopglut-nav-tab.shopglut-nav-active {
  background-color: #fff;
  color: #2d3559;
  border-color: #fff;
  border-radius: 4px 4px 0 0;
  padding-bottom: 8px;
  padding-top: 7px;
}

.shopglut-admin .shopglut-page-header-banner.shopglut-not-pro {
  padding-bottom: 0;
}

.shopglut-admin .shopglut-page-header .shopglut-no-submenu .shopglut-nav-tab-wrapper {
  margin-top: 0;
}

.shopglut-admin .shopglut-page-header-banner .shopglut-header-menus {
  margin-top: 10px;
}

.shopglut-admin .shopglut-page-header .shopglut-page-header-wrap + .wrap h2 {
  font-size: 21px;
  font-weight: 500;
}

.shopglut-admin .shopglut-page-header .shopglut-page-header-wrap .subsubsub {
  background: #fff;
  font-size: 14px;
  padding: 0 32px;
  margin-top: 0;
  float: none;
  text-align: left;
}

.shopglut-admin .shopglut-page-header .shopglut-page-header-wrap .subsubsub a {
  color: #1d2327;
  display: block;
  font-weight: 600;
  padding: 8px 12px;
}

.shopglut-admin .shopglut-page-header .shopglut-page-header-wrap .subsubsub a.shopglut-current {
  color: #0068b3;
}

.shopglut-admin .shopglut-page-header.wp-core-ui .wrap a.shopglut-link {
  display: block;
  margin-top: 10px;
  font-size: 1em;
}

.shopglut-admin .shopglut-page-header.wp-core-ui .wrap a.shopglut-link svg {
  width: 1.2em;
  margin: 0 0.2em 0;
  height: 1.4em;
  vertical-align: middle;
  fill: currentcolor;
}

.shopglut-admin .ppview .pp-alert-notice,
.shopglut-admin .profile-php .pp-alert-success {
  background: #fff;
  border: 1px solid #c3c4c7;
  border-left-width: 4px;
  box-shadow: rgba(0, 0, 0, 0.04) 0 1px 1px 0;
  margin: 5px 2px;
  padding: 1px 12px;
  border-left-color: #d63638;
}

.shopglut-admin .profile-php .pp-alert-success {
  border-left-color: #72aee6;
  padding: 8px 10px;
}

.shopglut-admin .ppview .pp-alert-notice-info {
  border-left-color: #72aee6;
}

.shopglut-admin .ppview .pp-alert-notice p,
.shopglut-admin .profile-php .pp2fa-up-notice p {
  margin: 0.5em 0;
  padding: 2px;
}

.shopglut-admin .profile-php .ppmyac-2fa-recovery-codes-wrap pre {
  background: #fff;
  max-width: 150px;
  border: 1px solid #c3c4c7;
  width: 100%;
  text-align: center;
  padding: 10px 20px;
  margin-bottom: 20px;
  line-height: 1.8;
  overflow: auto;
}

.shopglut-admin .shopglut-page-header .subscription_plan .manage-column.column-name {
  width: 25%;
}

.shopglut-admin .shopglut-page-header .subscription_plan .manage-column.column-status {
  width: 10%;
}

.shopglut-admin .shopglut-page-header .subscription_plan .manage-column.column-checkout_url {
  width: 20%;
}

.shopglut-admin .shopglut-page-header .ppview .postbox .shopglut-subscription-plan-payment-links input {
  width: 100% !important;
  max-width: 100% !important;
}
/*--- End Page Header ---*/

.shopglut-admin .layout_settings {
  margin: 0px;
  padding-top: 6px;
  padding-left: 10px;
}

.ddpb-container {
  display: flex;
}

.ddpb-sidebar {
  width: 20%;
  background-color: #f4f4f4;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.ddpb-elements {
  flex-grow: 1;
}

.ddpb-element {
  background-color: #e2e2e2;
  margin: 10px 0;
  padding: 10px;
  cursor: pointer;
}

#right-sidebar-editor {
  width: 100%;
  min-height: 500px;
  border: 2px dashed #ccc;
  margin-left: 10px;
  padding: 10px;
  margin-top: 10px;
}

.ddpb-editor {
  width: 80%;
  min-height: 10px;
  border: 2px dashed #ccc;
  margin-left: 10px;
  padding: 10px;
}

.ddpb-settings {
  margin-top: 20px;
}

.ddpb-settings-content {
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 10px;
}

.ddpb-placeholder {
  background: #f0f0f0;
  border: 2px dashed #ccc;
  margin: 10px 0;
  height: 50px;
}

.ddpb-row {
  display: flex;
  margin: 10px 0;
}

.ddpb-column {
  flex: 1;
  border: 1px dashed #ccc;
  padding: 10px;
  margin: 5px;
  min-height: 100px;
}

#shop-layouts-quick-view-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Shared Styles for #shopg-layout-admin-settings and #shopg_shop_layout_contents */

/* Table Header Styling */
#shopg-layout-admin-settings .shop-layouts-compare-modal table.comparison-table th h2,
#shopg_shop_layout_contents .shop-layouts-compare-modal table.comparison-table th h2 {
  margin: 0px;
  font-size: 17px;
  padding: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Button Styling */
#shopg-layout-admin-settings button.shopg-shop-remove-compare,
#shopg_shop_layout_contents button.shopg-shop-remove-compare {
  padding: 6px;
  font-size: 12px;
  background: #e5e5e5;
  color: #000;
  font-weight: bold;
  border: 1px solid #939393;
}

/* Modal Styling */
#shopg-layout-admin-settings .shop-layouts-compare-modal,
#shopg_shop_layout_contents .shop-layouts-compare-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  max-width: 950px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: none;
  overflow-x: auto;
  overflow-y: auto;
  height: 92vh;
}

/* Modal Content Padding */
#shopg-layout-admin-settings .modal-content,
#shopg_shop_layout_contents .modal-content {
  padding: 20px;
  padding-bottom: 16px;
}

/* Close Button Styling */
#shopg-layout-admin-settings .shop-layouts-compare-modal .shop-layouts-compare-modal-close,
#shopg_shop_layout_contents .shop-layouts-compare-modal .shop-layouts-compare-modal-close {
  position: absolute;
  top: 4px;
  right: 6px;
  font-size: 20px;
  cursor: pointer;
}

/* Loading Icon Alignment */
#shopg-layout-admin-settings .shop-layouts-compare-modal .loading-icon,
#shopg_shop_layout_contents .shop-layouts-compare-modal .loading-icon {
  text-align: center;
}

/* Loading Icon Image Size */
#shopg-layout-admin-settings .shop-layouts-compare-modal .loading-icon img,
#shopg_shop_layout_contents .shop-layouts-compare-modal .loading-icon img {
  width: 50px;
  height: 50px;
}

/* Comparison Table Styling */
#shopg-layout-admin-settings .shop-layouts-compare-modal .comparison-table,
#shopg_shop_layout_contents .shop-layouts-compare-modal .comparison-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

/* Table Cells Styling */
#shopg-layout-admin-settings .shop-layouts-compare-modal .comparison-table th,
#shopg_shop_layout_contents .shop-layouts-compare-modal .comparison-table th,
#shopg-layout-admin-settings .shop-layouts-compare-modal .comparison-table td,
#shopg_shop_layout_contents .shop-layouts-compare-modal .comparison-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

/* Table Header Background */
#shopg-layout-admin-settings .shop-layouts-compare-modal .comparison-table th,
#shopg_shop_layout_contents .shop-layouts-compare-modal .comparison-table th {
  background-color: #fbfbfb;
  min-width: 150px;
}

/* Notification container styling */
#shopg-notification-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000; /* Ensure it's above other elements */
}

/* General notification styling */
#shopg-notification-container .notification {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 15px;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: none; /* Initially hidden */
  position: relative;
  right: -300px; /* Off-screen position for sliding effect */
  color: #333; /* Default text color */
}

#shopg-notification-container .notification.wishlist-added {
  background-color: #1bb13f;
  border-color: #c3e6cb;
  color: #ffffff;
}

#shopg-notification-container .notification.wishlist-removed {
  background-color: #e93d3d;
  border-color: #f5c6cb;
  color: #ffffff;
}
/* Quick View Container */
.product-quick-view {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  padding: 20px;
}

/* Product Images */
.product-quick-view .product-images {
  flex: 1;
  max-width: 50%;
  padding-right: 20px;
}

/* Product Summary */
.product-quick-view .product-summary {
  flex: 1;
  max-width: 50%;
  padding-left: 20px;
}

/* Product Title */
.product-quick-view .product-title {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Price */
.product-quick-view .price {
  font-size: 22px;
  color: #000;
  margin-bottom: 10px;
}

/* Rating */
.product-quick-view .rating {
  margin-bottom: 10px;
}

/* Description */
.product-quick-view .description {
  margin-bottom: 20px;
}

/* Product Meta */
#shop-layouts-quick-view-modal .product-quick-view .product-meta {
  margin-bottom: 20px;
}
#shop-layouts-quick-view-modal .product-quick-view .product-meta a {
  text-decoration: none;
}

/* Add to Cart Button */
.product-quick-view .add-to-cart {
  margin-top: 20px;
}

/* Optional: Customize the add-to-cart button */
.product-quick-view .add-to-cart button.single_add_to_cart_button {
  background-color: #0071a1;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.product-quick-view .add-to-cart button.single_add_to_cart_button:hover {
  background-color: #005880;
}

.quick-view-content {
  background-color: #fff;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  max-width: 600px;
  position: relative;
  top: 100px;
}

.shop-layouts-quick-view-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.shop-layouts-quick-view-modal-close:hover,
.shop-layouts-quick-view-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.shopglut-pagination-container {
  clear: both;
  width: 100%;
}

/* Pagination Container */
.shopglut-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

/* Pagination Links */
.shopglut-pagination a {
  text-decoration: none;
  color: #333;
  padding: 10px 15px;
  margin: 0 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

/* Hover and Active Styles */
.shopglut-pagination a:hover {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.shopglut-pagination a.current {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

/* Load More Button */
.shopglut-pagination-load-more .load-more-button {
  padding: 10px 20px;
  font-weight: bold;
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
  border-radius: 5px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.shopglut-pagination-load-more .load-more-button:hover {
  background-color: #0056b3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Previous/Next Only Pagination */
.shopglut-pagination-prev-next a {
  font-weight: bold;
  background-color: #f8f9fa;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.shopglut-pagination-prev-next a:hover {
  background-color: #007bff;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.shopglut_wishlist_container {
  display: flex;
}

.shopglut_wishlist_container .shopglut_wishlist {
  margin-left: 5px;
  margin-right: 5px;
}
